<!DOCTYPE html>
<html lang = 'zh-cn'>
  <head>
    <title>重定向中...</title>
    <script src="/modules/vue/dist/vue.js"></script>
    <script src="/modules/vue-resource/dist/vue-resource.min.js"></script>
  </head>
  <body>
    <div id='module'>
      <button v-on:click='login()'>获取数据</button>
    </div>
  </body>
  <script src='/public/js/logincallback.js'></script>
</html>
